{% extends "AppBlog/padre.html" %}

{% block titulo %}
Bienvenido a mi proyecto AppBlog
{% endblock %}

{% block contenido %}
    <!--Aqui va lo que cambia, y lo asociado a esta vista-->
    <section class="mt-5 text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="mb-4">Acerca de mi - Lucas Carrizo</h1>
              <p class="lead">¡Hola! Mi nombre es Lucas Carrizo y soy un desarrollador de software en el Ejército Argentino. Me apasiona el mundo de la programación y la tecnología, y actualmente estoy buscando oportunidades para crecer y desarrollar mis habilidades como programador junior.</p>
              <p class="lead">Mis tecnologías fuertes son Python, C# y ASP.NET CORE, mientras que en un nivel básico manejo HTML, CSS y SQL. A lo largo de mi carrera, he completado cursos en plataformas como Platzi y Udemy para seguir aprendiendo y perfeccionando mis habilidades.</p>
              <p class="lead">Actualmente, estoy cursando el primer año de la carrera de Tecnicatura en Programación en la Universidad Nacional Guillermo Brown, con el objetivo de seguir creciendo profesionalmente.</p>
              <p class="lead">Además de mis habilidades técnicas, soy una persona sociable y me gusta trabajar en equipo. Me adapto rápidamente a los nuevos entornos de trabajo y siempre estoy dispuesto a aprender y asumir nuevos desafíos.</p>
              <p class="lead">Estoy emocionado por la oportunidad de seguir aprendiendo y creciendo como programador, y estoy listo para enfrentar cualquier desafío que se me presente.</p>
            </div>
          </div>
        </div>
      </section>
      
    

{% endblock %}