{% extends "AppBlog/padre.html" %}}
{% block titulo %}
Pelicula
{% endblock %}

{% block contenido %}
    <!--Aqui va lo que cambia, y lo asociado a esta vista-->
    <section class="mt-5">  
        <div class="container">
            <div class="row">
                <h1>Eliminar Pelicula</h1>
                <form method="post"">
                {% csrf_token %}
                <p>Seguro que desea eliminar la pelicula {{object}}</p>
                <input type="submit" value="Seguro">
                </form>
            </div>
        </div>
     </section>
{% endblock %}